#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #fff;
  max-width: 1300px;
  margin: auto;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #b6e1ef;
  color: #fff;
}
#es-rc #es-rc-content ::selection {
  background-color: #b6e1ef;
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content a {
  display: inline-block;
}
#es-rc #es-rc-content img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-kv__photo {
  position: relative;
}
#es-rc #es-rc-content .es-kv__photo-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__photo-container {
    flex-direction: row;
    align-items: baseline;
  }
}
#es-rc #es-rc-content .es-kv__title {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  left: 5%;
  background-color: #fff;
  border: 1px solid #000000;
  text-transform: uppercase;
  padding: 11px 19px;
}
#es-rc #es-rc-content .es-kv__title--primary {
  font-weight: 700;
  font-size: clamp(1rem, 0.6958rem + 1.6782vw, 2.0594rem);
}
#es-rc #es-rc-content .es-kv__title--secondary {
  font-size: clamp(1rem, 0.8439rem + 0.8614vw, 1.5437rem);
}
#es-rc #es-rc-content .es-kv__title--strikethrough {
  text-decoration: line-through;
}
#es-rc #es-rc-content .es-benefits {
  margin: auto 20px;
  margin-top: 60px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-benefits {
    flex-direction: row;
    justify-content: space-around;
  }
}
#es-rc #es-rc-content .es-benefits__title {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-benefits__img-container {
  position: relative;
}
#es-rc #es-rc-content .es-benefits__img-text {
  text-transform: uppercase;
  color: #c64a4a;
  font-weight: 700;
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
}
#es-rc #es-rc-content .es-benefits__img-text--1 {
  left: 25%;
}
#es-rc #es-rc-content .es-benefits__img-text--2 {
  left: 75%;
}
#es-rc #es-rc-content .es-benefits__content {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-benefits__content {
    display: inline-block;
  }
}
#es-rc #es-rc-content .es-benefits__link {
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
  font-weight: 700;
  padding: 12px;
  width: 45%;
  text-align: center;
  border-radius: 10px;
  margin-top: 18px;
  color: #fff;
  background-color: #c64a4a;
  text-decoration: none;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-benefits__link {
    margin-left: 7px;
  }
}
#es-rc #es-rc-content .es-benefits__cards {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 18px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-benefits__cards {
    grid-template-columns: 1fr 1fr;
  }
}
#es-rc #es-rc-content .es-benefits__cards-bg {
  display: none;
  position: absolute;
  z-index: -1;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-benefits__cards-bg {
    display: block;
  }
}
#es-rc #es-rc-content .es-benefits__icon {
  background-color: #ffd841;
  border-radius: 100%;
  max-width: 80px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-benefits__single {
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  padding-top: 8%;
  background-color: #fff;
  max-width: 291px;
}
#es-rc #es-rc-content .es-benefits__text {
  font-size: clamp(0.875rem, 0.8391rem + 0.198vw, 1rem);
  text-align: center;
  padding: 20px 10px;
}
#es-rc #es-rc-content .es-benefits__text--primary {
  font-weight: 700;
  margin-bottom: 13px;
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
}
#es-rc #es-rc-content .es-tested {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  background-color: #f1f1f1;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-tested {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
#es-rc #es-rc-content .es-tested__img {
  display: none;
  max-height: 110%;
  width: auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-tested__img {
    display: block;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__img {
    max-height: 150%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
  }
}
#es-rc #es-rc-content .es-tested__title {
  font-weight: 800;
  font-size: clamp(1rem, 0.7488rem + 1.3861vw, 1.875rem);
  text-transform: uppercase;
  margin-top: 0;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__section {
    min-height: 392px;
  }
}
#es-rc #es-rc-content .es-tested__package {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#es-rc #es-rc-content .es-tested__package-container {
  display: grid;
  align-items: center;
  padding: 30px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__package-container {
    justify-items: center;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__package {
    margin: 0;
  }
}
#es-rc #es-rc-content .es-tested__single {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
}
#es-rc #es-rc-content .es-tested__single span {
  font-weight: 800;
  font-size: clamp(1rem, 0.7488rem + 1.3861vw, 1.875rem);
}
#es-rc #es-rc-content .es-tested__effects {
  color: #fff;
  background-color: rgba(233, 86, 13, 0.8);
  border-radius: 0 12px 12px 0;
}
#es-rc #es-rc-content .es-tested__effects-container {
  padding-right: 8%;
  display: grid;
  align-items: center;
  min-height: 300px;
}
#es-rc #es-rc-content .es-tested__effects-text {
  margin-left: auto;
  padding: 30px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-tested__effects-text {
    max-width: 90%;
  }
}
#es-rc #es-rc-content .es-how {
  margin: auto 20px;
}
#es-rc #es-rc-content .es-how__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
#es-rc #es-rc-content .es-how__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(0.875rem, 0.5879rem + 1.5842vw, 1.875rem);
}
#es-rc #es-rc-content .es-how__step {
  flex: 0 1 364px;
}
#es-rc #es-rc-content .es-how__text {
  font-weight: 700;
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
  margin: 30px 0 6px;
}
#es-rc #es-rc-content .es-how__desc {
  font-size: clamp(0.875rem, 0.8032rem + 0.396vw, 1.125rem);
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  margin: 0;
  display: unset;
}
#es-rc #es-rc-content .es-slider__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img, #es-rc #es-rc-content .es-slider__buttons--next__img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img {
  transform: rotate(180deg);
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=styles.css.map */