@charset "UTF-8";

// set up variables
$text-main: "Montserrat", sans-serif;

$fs-base: 16px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #000000;
$color-bg: #f6f8fa;
$color-dark-blue: #0499c3;
$color-light-blue: #b6e1ef;
$color-brown: #c64a4a;
$color-yellow: #ffd841;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: 400;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 1300px;
  margin: auto;

  ::selection {
    background-color: $color-light-blue;
    color: #fff;
  }

  // minimal css reset
  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-kv {
    &__photo {
      position: relative;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media (min-width: $media-breakpoint-md) {
          & {
            flex-direction: row;
            align-items: baseline;
          }
        }
      }
    }

    &__title {
      position: absolute;
      z-index: 1;
      bottom: 2%;
      left: 5%;
      background-color: $color-bg;
      border: 1px solid $color-main;
      text-transform: uppercase;
      padding: 11px 19px;

      &--primary {
        font-weight: 700;
        font-size: clamp(1rem, 0.6958rem + 1.6782vw, 2.0594rem);
      }

      &--secondary {
        font-size: clamp(1rem, 0.8439rem + 0.8614vw, 1.5437rem);
      }

      &--strikethrough {
        text-decoration: line-through;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones
  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
